*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



ul{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 100px auto auto;
  gap: 20px;
}

.bateria{
  display: grid;
  grid-row: 1 / -1;
}


.grid{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 200px 200px ;
}

.griddois{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
}

.bate{
  grid-row-start: 1;
     grid-row-end: 3;
     grid-column-start: 1;
}

.canto{
     grid-row-start: 1;
     grid-row-end: 3;
     grid-column-start: 3;
}

/* */

li{
  padding: 20px;
  border: 1px solid rgb(65, 65, 255);
  border-radius: 4px;
  list-style: none;

}