h1::after{
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #caff;

}


ul{
  list-style: none;
}

li{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

li::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caff, #fff);
  margin-right: 10px;
  border: 2px solid #caff;
  border-radius: 50%;
}

