@charset "UFT-8";

*{
  font-family: Arial; 
  font-weight: bold;
}

h1{
  text-align: center;
}

.item{
  background-color: rgba(240, 237, 237, 0.74);
  border: 1px solid rgb(255, 251, 251);
  padding: 2rem;
  display: grid;
}

h2{
  margin-top: 0px;
}

.comprar{

  text-decoration: none;
  border: 1px solid transparent;
  background-color: rgb(192, 98, 255);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}